@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

.main-container {
	max-width: 1440px;
}

header {
	padding-top: 32px;
	background-color: #D5E5F5;
}

.header-logo {
	font-family: 'Pacifico', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	letter-spacing: 0.1em;
	color: #3781E3;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.nav-link {
	display: flex;
	justify-content: center;
	width: 74px;
	height: 36px;
}

.nav-link .link {
	text-decoration: none;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0.045em;
	color: #00214D;
}

.nav-link .link::after {
	content: '';
	display: block;
	height: 2px;
	border-radius: 5px;
	background-color: #00214D;
	transform: translateY(20px);
	opacity: 0;
	cursor: default;
	transition-duration: 300ms;
}

.nav-link .link:hover::after {
	transform: translateY(0);
	opacity: 1;
}

.line-container {
	margin-top: 100px;
}

.line-container .line {
	width: 120px;
	height: 0px;
	border: 2px solid #00214D;
	background-color: #00214D;
}

.line-container .line::before {
	content: "Vetinary Clinic";
	position: relative;
	display: block;
	top: -20px;
	left: 120%;
	width: 194px;
	height: 36px;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0.085em;
	color: #00214D;
}

.origin-container{
	margin-top: 28px;
	padding: 10px;
	max-height: 500px;
}

.header-origin {
	width: 644px;
	height: 215px;
	left: 128px;
	top: 228px;
}

.header-origin h1 {
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 150%;
	color: #00214D;
}

.header-subtext {
	width: 644px;
	height: 72px;
	left: 128px;
	top: 469px;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0.05em;
	color: rgba(58, 58, 58, 0.75);
}

.start-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
	padding: 32px;
	width: 213px;
	height: 80px;
	background: #3781E3;
	border-radius: 20px;
	border: none;
	color: #fff;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 150%;
	letter-spacing: 0.1em;
	user-select: none;
	transition-duration: 150ms;
}

.start-button:hover {
	box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
}

.container-img {
	overflow: hidden;
}

.img {
	position: relative;
	top: -240px;
	width: 500px;
	height: 800px;
	margin-left: 15%;
}

.offers {
	background-color: #E9F4FF;
	padding-top: 64px;
}


.offers-header {
	width: 377px;
	height: 59px;
	left: 531px;
	top: 64px;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 150%;
	color: #00214D;
	align-content: center;
	margin: 0 auto;
}

.offers-subtext {
	text-align: center;
	height: 36px;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0.05em;
	color: #3A3A3A;
	margin-top: 16px;
	margin-bottom: 64px;
}

.card {
	width: 350px;
	height: 350px;
	margin-bottom: 64px;
	border-radius: 20px;
}

.card-img {
	width: 80px;
	height: 80px;
	margin-bottom: 78px;
}

.contact-container {
	background-color: #D5E5F5;
	padding-top: 100px;
}

.contact-img {
	width: 414px;
	height: 722px;
	border-radius: 20px;
	margin-bottom: 81px;
}

.contact-header {
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 150%;
	color: #00214D;
}

.contact-subtext {
	width: 568px;
	height: 120px;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 150%;
	color: #3A3A3A;
}

.feedback-container {
	background-color: #E9F4FF;
}

.feedback-header {
	padding-top: 61px;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 150%;
	color: #00214D;
	text-align: center;
	margin-bottom: 31px;
}

.carousel-card_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.carousel-card {
	width: 50%;
	height: 750px;
	border-radius: 0px;
}

.carousel-card_body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.carousel-img_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.carousel-card_img {
	width: 150px;
	height: 150px;
	margin: 84px 0 52px 118px;
}

.carousel-card_title {
	width: 319px;
	height: 50px;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 150%;
	color: #00214D;
	margin-bottom: 16px;
}

.carousel-card_text {
	width: 509px;
	height: 180px;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 150%;
	text-align: center;
	color: #3A3A3A;
}

.carousel-control-next {
	display: flex;
	align-items: center;
	position: relative;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 150%;
	color: #3781E3;
	opacity: 1;
	width: 250px;
	margin-right: 10%;
}

.carousel-control-next:hover {
	color: #3781E3;
}

.carousel-button_text {
	margin: 0;
}


.carousel-card_footer {
	margin-left: 130px;
}

.footer-card_col {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 19px;
}

.footer-img {
	margin-right: 26px;
	width: 50px;
	height: 50px;
}

.footer-card_name {
	display: flex;
	align-items: center;
	height: 50px;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0.05em;
	color: #00214D;
	margin-bottom: 0;
}

.footer-rating_col {
	display: flex;
	align-items: center;
}

.footer-card_stars {
	margin-right: 26px;
}

.footer-card_rating {
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0.05em;
	color: #3A3A3A;
}

.experts-container {
	padding-top: 128px;
	background-color: #D5E5F5;
}

.experts-container_header {
	text-align: center;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 150%;
	color: #00214D;
	margin-bottom: 64px;
}

.experts-container_button {
	display: flex;
	align-items: center;
	border: none;
	background-color: inherit;
}

.experts-button_text {
	margin: 0 16px 0 0;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 150%;
	color: #3781E3;
}

.expert-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 850px;
}

.expert-card-body {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.expert-card_title {
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 150%;
	color: #00214D;
	text-align: center;
}

.expert-card_text {
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	color: #3A3A3A;
}

.expert-card_img {
	height: 722px;
}

.subscribe-container {
	background-color: #E9F4FF;
	margin-bottom: 84px;
	margin-top: 84px;
	padding: 100px 30px 143px 42px;
	border-radius: 20px;
}

.subscribe-header {
	text-align: center;
	margin-bottom: 64px;
}
.subscribe-button {
	margin: 0;
}

.subscribe-form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 20px;
	width: 1106px;
	height: 169px;
	padding: 5%;
	margin: 0;
}

.email-input {
	width: 70%;
	height: 50%;
	border: none;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 150%;
	color: #00214D;
	outline: none;
	padding: 5%;
	background-color: inherit;
	border-radius: 10px;
}

footer {
	background-color: #D5E5F5;
}