@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Quicksand&display=swap');

.main-container {
	padding: 0;
	overflow: hidden;
}

header {
	padding-top: 32px;
	background-color: #D5E5F5;
}

.header-logo {
	font-family: 'Pacifico', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	letter-spacing: 0.1em;
	color: #3781E3;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.nav-link {
	text-align: center;
	height: 36px;
}

.nav-link .link {
	text-decoration: none;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0.045em;
	color: #00214D;
}

.nav-link .link::after {
	content: '';
	display: block;
	width: 50%;
	margin: 0 auto;
	height: 2px;
	border-radius: 5px;
	background-color: #00214D;
	transform: translateY(20px);
	opacity: 0;
	cursor: default;
	transition-duration: 300ms;
}

.nav-link .link:hover::after {
	transform: translateY(0);
	opacity: 1;
}

.burger-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background-color: #fff;
}

.burger-menu .nav-link .link::after {
	display: none;
}

.navbar-toggler {
	z-index: 200;
}

.line-container .line {
	width: 120px;
	height: 0px;
	border: 2px solid #00214D;
	background-color: #00214D;
}

.line-container .line::before {
	content: "Vetinary Clinic";
	position: relative;
	display: block;
	top: -20px;
	left: 120%;
	width: 194px;
	height: 36px;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0.085em;
	color: #00214D;
}

.origin-container {
	position: relative;
	margin-top: 28px;
	padding: 10px;
	max-height: 500px;
	height: 100%;
}

.header-origin {
	left: 128px;
	top: 228px;
}

.header-origin h1 {
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 150%;
	color: #00214D;
}

.header-subtext {
	left: 128px;
	top: 469px;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0.05em;
	color: rgba(58, 58, 58, 0.75);
	padding-bottom: 70px;
}

.img-dog {
	user-select: none;
}

.start-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 32px;
	width: 30%;
	height: 80px;
	background: #3781E3;
	border-radius: 20px;
	border: none;
	color: #fff;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 150%;
	letter-spacing: 0.1em;
	user-select: none;
	transition-duration: 150ms;
}

.start-button:hover {
	box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
}

.container-img {
	overflow: hidden;
}

.img {
	position: relative;
	top: -240px;
	width: 500px;
	height: 800px;
	margin-left: 15%;
}

.offers {
	background-color: #E9F4FF;
	padding-top: 64px;
	width: 100%;
}


.offers-header {
	width: 377px;
	height: 59px;
	left: 531px;
	top: 64px;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 150%;
	color: #00214D;
	align-content: center;
	margin: 0 auto;
}

.offers-subtext {
	text-align: center;
	height: 36px;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0.05em;
	color: #3A3A3A;
	margin-top: 16px;
	margin-bottom: 64px;
}

.cards-container > .row > .col {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 350px;
	height: 350px;
	margin-bottom: 64px;
}

.card {
	width: 350px;
	height: 350px;
	border-radius: 20px;
}

.card-img {
	width: 80px;
	height: 80px;
	margin-bottom: 78px;
}

.contact-container {
	background-color: #D5E5F5;
}

.contact-img_container {
	margin: 0;
	padding: 0;
}

.contact-img {
	display: block;
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	margin-bottom: 20%;
}

.contact-header {
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 4em;
	line-height: 150%;
	color: #00214D;
}

.contact-subtext {
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.3em;
	line-height: 150%;
	color: #3A3A3A;
}

.feedback-container {
	background-color: #E9F4FF;
}

.feedback-header {
	padding-top: 61px;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 150%;
	color: #00214D;
	text-align: center;
	margin-bottom: 31px;
}

.carousel-card_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.carousel-card {
	width: 50%;
	height: 750px;
	border-radius: 0px;
}

.carousel-card_body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.carousel-img_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.carousel-card_img {
	width: 150px;
	height: 150px;
	margin: 84px 0 52px 118px;
}

.carousel-card_title {
	width: 319px;
	height: 50px;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 2.2em;
	line-height: 150%;
	color: #00214D;
	margin-bottom: 16px;
}

.carousel-card_text {
	width: 509px;
	height: 180px;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 150%;
	text-align: center;
	color: #3A3A3A;
}

.carousel-control-next {
	display: flex;
	align-items: center;
	position: relative;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 150%;
	color: #3781E3;
	opacity: 1;
	width: 250px;
	margin-right: 10%;
}

.carousel-control-next:hover {
	color: #3781E3;
}

.carousel-button_text {
	margin: 0;
}


.carousel-card_footer {
	margin-left: 130px;
}

.footer-card_col {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 19px;
}

.footer-img {
	margin-right: 26px;
	width: 50px;
	height: 50px;
}

.footer-card_name {
	display: flex;
	align-items: center;
	height: 50px;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0.05em;
	color: #00214D;
	margin-bottom: 0;
}

.footer-rating_col {
	display: flex;
	align-items: center;
}

.footer-card_stars {
	margin-right: 26px;
}

.footer-card_rating {
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0.05em;
	color: #3A3A3A;
}

.experts-container {
	/* padding-top: 128px; */
	background-color: #D5E5F5;
}

.experts-container_header {
	text-align: center;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 150%;
	color: #00214D;
	margin-bottom: 6%;
}

.experts-container_button {
	display: flex;
	align-items: center;
	border: none;
	background-color: inherit;
}

.experts-button_text {
	margin: 0 16px 0 0;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 150%;
	color: #3781E3;
}

.expert-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 850px;
}

.expert-card-body {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.expert-card_title {
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 150%;
	color: #00214D;
	text-align: center;
}

.expert-card_text {
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	color: #3A3A3A;
}

.expert-card_img {
	height: 722px;
}

.subscribe-container {
	background-color: #E9F4FF;
	padding: 100px 40px 143px 40px;
}

.subscribe-container .row {
	background-color: #D5E5F5;
	border-radius: 20px;
}

.subscribe-header {
	text-align: center;
	margin-bottom: 64px;
}
#subscribe-button {
	margin: 0;
}

.subscribe-form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 20px;
	width: 80%;
	height: 15%;
	padding: 5%;
	margin: 0;
	border: 0 !important;
}

.email-input {
	width: 100%;
	height: 100%;
	border: none;
	font-family: 'Plus Jakarta Sans', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 150%;
	color: #00214D;
	outline: none;
	padding: 5%;
	background-color: inherit;
	border-radius: 10px;
}

footer {
	padding-top: 178px;
	background-color: #D5E5F5;
}

.footer-header_logo {
	text-align: center;
}

.nav-header {
	text-align: left;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 28px;
	color: #00214D;
	margin-bottom: 20px;
	}

	footer .nav-link {
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: #00214D;
		text-align: left;
		margin-bottom: 15px;
	}

	.socials {
		padding: 0 50px 0;
	}

	.socials-img_container {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 100px;
		border-bottom: 1px solid #00214D;
		padding-bottom: 17px;
	}

	.social-img {
		width: 50px;
		background-position: center;
		margin-right: 40px;
		cursor: pointer;
	}

	.socials-link {
		cursor: default;
		user-select: none;
	}

	.copyright {
		padding: 50px 0;
	}

	.copyright-text {
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: #00214D;
		text-align: center;
	}

	.my-link {
		text-decoration: none;
		color: inherit;
	}

	@media (max-width : 992px) {

		.start-button {
			width: 50%;
		}

		.header-origin_text {
			width: 100%;
			height: 100%;
			text-align: center;
			background-color: #D5E5F5;
		}

		.header-origin_text .button-container {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 5%;
		}

		.header-origin h1{
			font-size: 50px;
		}

		.offers-header {
			margin-top: 10%;
		}

		.container-img img{
			display: none;
		}

		.contact-header {
			font-size: 3em;
		}

		.input-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			height: 20%;
			background-color: inherit;
		}

		.carousel-inner {
			width: 100%;
		}

		.subscribe-container {
			margin: 0 auto;
			padding: 10% 0;
		}

		.carousel-card {
			width: 100%;
			border-radius: 10px;
		}

		.carousel-card_img {
			width: 5em;
			padding: 0;
			margin: 0 auto;
		}

		.carousel-card_body {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin-bottom: 5em;
		}

		.carousel-card_title {
			text-align: center;
		}
		
		.carousel-card_text {
			width: 100%;
			font-size: 1.2em;
			padding: 1em;
		}

		.carousel-card_footer {
			margin: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.email-input {
			font-size: 1.2em;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			margin-bottom: 10%;
		}

		.subscribe-button {
			width: 50%;
			height: 10%;
		}

		footer {
			padding: 5em 0 0;
		}

		footer .socials-img_container {
			width: 100%;
		}

		footer .socials-img_container a .social-img{
			width: 2.5em;
		}
	}